@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");
/* font-family: "Yeon Sung", cursive;
font-family: "Nanum Pen Script", cursive; 가장 아래 왼쪽부터 속성을 따름 */

/* .co {
  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(210, 210, 210);
  text-align: center;
  margin-left: 5px;
  padding: 1;
  background-color: rgba(37, 83, 210, 0.278);
  background: rgb(37, 81, 114);
} */
